* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

#menu_bar {
    width: 100%;
    height: 10vmin;
    background-color: #141d2a;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#logo {
    color: white;
    font-size: 4.5vmin;
    padding-left: 5%;
}

#logo span {
    color: #0453b3;
}

#menu_bar ul {
    list-style: none;
    display: flex;
    padding-right: 5%;
}

#menu_bar ul li {
    position: relative;
    padding: 10px 30px;
}

#menu_bar ul li a {
    text-decoration: none;
    font-size: 2.5vmin;
    color: white;
    transition: all .3s;
}

#menu_bar ul li a:hover {
    color: #0453b3;
}

#clothing_menu ul {
    margin: 1,.4vmin;
    display: block;
}

#clothing_menu ul li {
    width: 19vmin;
    margin: 1.5vmin;
}

#clothing_menu{
    display: none;
}

#menu_bar ul li:hover #clothing_menu {
    background-color: #141d2a;
    position: absolute;
    display: block;
    z-index: 1;
    left: 0;
    top: 100%;
}

#shoes_menu ul {
    margin: 1,.4vmin;
    display: block;
}

#shoes_menu ul li {
    width: 16vmin;
    margin: 1.5vmin;
    padding: 1.5vmin;
}

#shoes_menu{
    display: none;
}

#menu_bar ul li:hover #shoes_menu {
    background-color: #141d2a;
    position: absolute;
    display: block;
    z-index: 1;
    left: 0;
    top: 100%;
}

#main_page_part1 {
    width: 100%;
    height: 70vmin;
    margin-top: 3%;
    background-color: #d3d3d2;
    box-shadow: 1vmin 1vmin 1vmin darkgrey;
    align-items: center;
    justify-content: space-between;
    display: flex;
}

#text {
    margin-left: 11%;
}

#text h4 {
    font-size: 1.5vmin;
}

#text h1 {
    font-size: 8vmin;
    margin-top: 1vmin;
}

#text button {
        width: 23.3vmin;
        height: 7.3vmin;
        background-color: #363739;
        border: .3vmin solid white;
        text-align: center;
        font-size: 2.5vmin;
        font-family: 'Courier New', Courier, monospace;
        color: white;
        font-weight: 550;
        position: relative;
        transition-duration: .3s;
        margin-top: 5vmin;
}

img {
    width: 70vmin;
    margin-top: 35vmin;
}

#main_page_part2 {
    width: 100%;
    height: 30vmin;
    margin-top: 5%;
    background-color: #111111;
    align-items: center;
    justify-content: space-between;
    display: flex;
}

#socials {
    margin-left: 5%;
}

#socials h1 {
    color: white;
    font-size: 2vmin;
    font-style: oblique;
    margin-bottom: 10%;
}

#socials ul {
    list-style: none;
    display: flex;
}

#socials ul li {
    position: relative;
    padding: 10px 30px;
}

#socials ul li a {
    text-decoration: none;
    font-size: 2.5vmin;
    color: white;
    transition: all .3s;
}

#socials ul li a:hover {
    font-size: 3.5vmin;
}

#contacts h1 {
    color: white;
    font-size: 2vmin;
    font-style: oblique;
    margin-bottom: 10%;
}

#contacts ul {
    list-style: none;
    margin: 1.4vmin;
    display: block;
}

#contacts ul li{
    margin: 1.5vmin;
    text-decoration: none;
    color: white;
    font-size: 2vmin;
}

#nike img {
    width: 20vmin;
    margin-top: 0;
    margin-right: 6vmin;
}

#nike h4 {
    font-size: 1.2vmin;
    color: white;
    position: absolute;
    margin-top: 3%;
    margin-right: 0%
}

#clothing1 {
    position: absolute;
    top: 22%;
    margin-left: 4%;
}

#clothing1 img {
    width: 55vmin;
    border: 1px solid black;
    border-radius: 2vmin;
    margin-top: 0vmin;
    padding-top: 0vmin;
}

#clothing2 img {
    width: 55vmin;
    border: 1px solid black;
    border-radius: 2vmin;
    margin-top: 0vmin;
    padding-top: 0vmin;
}

#clothing2 {
    position: absolute;
    top: 22%;
    margin-left: 36.4%;
}

#clothing3 img {
    width: 55vmin;
    border: 1px solid black;
    border-radius: 2vmin;
    margin-top: 0vmin;
    padding-top: 0vmin;
}

#clothing3 {
    position: absolute;
    top: 22%;
    margin-left: 69%;
}

#clothing4 img {
    width: 55vmin;
    border: 1px solid black;
    border-radius: 2vmin;
}

#clothing4 {
    position: absolute;
    padding-top: 66vmin;
    margin-left: 4%;
}

#clothing5 img {
    width: 55vmin;
    border: 1px solid black;
    border-radius: 2vmin;
}

#clothing5 {
    position: absolute;
    padding-top: 66vmin;
    margin-left: 36.4%;
}

#clothing6 img {
    width: 55vmin;
    border: 1px solid black;
    border-radius: 2vmin;
}

#clothing6 {
    position: absolute;
    padding-top: 66vmin;
    margin-left: 69%;
}

#clothing7 img {
    width: 55vmin;
    border: 1px solid black;
    border-radius: 2vmin;
}

#clothing7 {
    position: absolute;
    padding-top: 157vmin;
    margin-left: 4%;
}

#clothing8 img {
    width: 55vmin;
    border: 1px solid black;
    border-radius: 2vmin;
}

#clothing8 {
    position: absolute;
    padding-top: 157vmin;
    margin-left: 36.4%;
}

#clothing9 img {
    width: 55vmin;
    border: 1px solid black;
    border-radius: 2vmin;
}

#clothing9 {
    position: absolute;
    padding-top: 157vmin;
    margin-left: 69%;
}

h5 {
    font-size: 2vmin;
}

i {
    font-style: italic;
    color: darkgray;
}

#info {
    width: 100%;
    height: 30vmin;
    margin-top: 290vmin;
    background-color: #111111;
    align-items: center;
    justify-content: space-between;
    display: flex;
}